body {
  margin: 0;
  padding-bottom: 70px;
  font-family: sans-serif;
}

#bookList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.book-cover {
  width: 100%;
}

#bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}